{% macro new_attribute_button() %}
<div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-plus"></span>
        {{ 'ekyna_product.attribute.button.new'|trans }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
    {% for label, type in attribute_create_types() %}
        <li>
            <a href="{{ admin_resource_path('ekyna_product.attribute', 'new', {'type': type}) }}">
                {{ label|trans }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endmacro new_attribute_button %}
