{% extends 'EkynaAdminBundle::base.xml.twig' %}

{% block response %}
<title>{{ 'ekyna_product.tax.header.new'|trans|raw }}</title>
<form><![CDATA[
<form action="{{ path('ekyna_product_tax_admin_new') }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaProductBundle:Tax/Admin:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
]]></form>
{% endblock %}
