{% use '@EkynaAdmin/Show/show_div_layout.html.twig' %}

{% block product_attribute_config_widget -%}
{% apply spaceless -%}
    {% set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is empty -%}
            <em>{{ 'value.none'|trans({}, 'EkynaUi') }}</em>
        {%- else -%}
            {% for config in value -%}
                {{ show_row(config.value, config.type, config.options) }}
            {%- endfor %}
        {%- endif %}
    </div>
{%- endapply %}
{%- endblock product_attribute_config_widget %}
