{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% apply spaceless %}
    <h3>{{ 'ekyna_product.account.catalog.new.title'|trans|raw }}</h3>
    <hr>
    {% include '@EkynaProduct/Account/Catalog/_form.html.twig' %}
    <hr>
    <h3>{{ 'ekyna_product.account.catalog.title'|trans|raw }}</h3>
    <hr>
    {% include '@EkynaProduct/Account/Catalog/_list.html.twig' with {
        'catalogs': catalogs, 'customer': customer
    } only %}
{% endapply %}
{% endblock account %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ absolute_url(asset('bundles/ekynaproduct/css/account/catalog.css')) }}" rel="stylesheet" type="text/css"/>
{% endblock %}
