<div class="row">
    <div class="col-md-6">
        {# TODO use IntlNumberFormatter #}
        {{ show_row(product.netPrice, 'number', 'ekyna_product.product.field.net_price', {
            'label_nb_col': 4,
            'widget_nb_col': 8,
            'append': ' €'
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(product.taxGroup, 'entity', 'ekyna_commerce.tax_group.label.singular', {
            'route': 'ekyna_commerce_tax_group_admin_show',
            'route_params_map': {'taxGroupId': 'id'},
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
</div>
