{% extends 'EkynaAdminBundle::base.xml.twig' %}

{% block response %}
{% spaceless %}
<form>
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    <![CDATA[{{ form_widget(form.slots)|replace({'page__name': name})|raw }}]]>
</form>
{% endspaceless %}
{% endblock response %}
