{% extends theme %}

{% import '@EkynaProduct/Catalog/Template/macros.html.twig' as macros %}

{% block content -%}
{% apply spaceless -%}

{% for slot in page.slots|slice(0, 8) -%}
{% if loop.first or loop.index0 % 2 == 0 -%}
<div class="product dual eighth">
    <div class="row">
{%- endif %}
        {% set product = slot.product -%}
        <div class="col-xs-6">
            <div class="inner">
                {{- macros.title(catalog, product) -}}
                <div class="row">
                    <div class="col-xs-6">
                        {{- macros.image(catalog, product) -}}
                    </div>
                    <div class="col-xs-6">
                        {{- macros.infos(catalog, product) -}}
                    </div>
                </div>
                <p class="description">
                    {#{{- product.description|paragraph_to_break -}}#}
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel rutrum lacus, eu accumsan risus. Donec vulputate ante diam, at egestas nisi porttitor vitae. Nullam commodo, enim eget volutpat fringilla, velit sapien sollicitudin elit, id consectetur diam magna id tellus. Phasellus quis quam malesuada, egestas lacus ut, condimentum libero. Nunc fringilla, turpis vitae scelerisque venenatis, neque ligula accumsan ligula, eget venenatis eros mauris quis lacus. Fusce pretium, diam in molestie venenatis, purus urna finibus erat, vitae semper est urna vel tellus. Nulla facilisi. Aliquam tincidunt enim eget sapien consequat, id ultrices elit maximus. Aliquam lacinia nisi ac lobortis posuere. Ut ac odio tincidunt, scelerisque metus vel, scelerisque massa. Vestibulum pretium lacinia lacus ut luctus. Proin ac ligula eu est ultrices ultrices at ac nibh. Maecenas tristique velit non augue egestas molestie.
                </p>
            </div>
        </div>
{% if loop.last or loop.index0 % 2 == 1 -%}
    </div>
</div>
{%- endif %}
{%- endfor %}
{%- endapply %}
{%- endblock content %}
