{% apply spaceless %}
<div class="separator">
    <div class="inner">
        <h1>{{ page.options.title }}</h1>
        <div class="description">{{ page.options.description|raw }}</div>
    </div>
</div>
{% endapply %}
